<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="../static/css/main.css">
<title>Dino Park API</title>
</head>
<body>

    <!-- NavBar -->
    <nav class="navbar bg-light" id="navbar">

        <div class="container-fluid" >
            <a class="navbar-brand .text-success" href="#" id="nav-logo">
                <img src="../static/images/dino_db_logo.png" alt="" width="60" height="45" class="d-inline-block align-text-center" >
            Dino Park API
            </a>
        

            <ul class="nav justify-content-end">
                <li class="nav-item" >
                    <a class="nav-link active link" aria-current="page" href="{{ url_for('site.home') }}">Home</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item" >
                    <a class="nav-link active link" aria-current="page" href="{{ url_for('site.profile') }}">Profile</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active link" aria-current="page" href="{{ url_for('auth.logout') }}">Log-Out</a>
                </li>
                {% else %}
                <li class="nav-item" >
                    <a class="nav-link active link" aria-current="page" href="{{ url_for('auth.signin') }}">Log-In</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link active link" aria-current="page" href="{{ url_for('auth.signup') }}">Sign-Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>


    {% block content %}       

    {% endblock content %}

        <!-- Footer Here -->
    <footer class="row">
        <div class="col-6">
            <img src="../static/images/dino_db_logo.png" alt="Dino Park API Logo">
        </div>
        <div class="col-6" id="footer-text">
            <h3>Our Platform</h3>
            <h5>Join Our Discord</h5>
            <h5>Donate to Our Project</h5>
            <h5>Contact Us</h5>
            <h5>Give Us Feedback</h5>
    </footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
</body>
</html>